@CHARSET "UTF-8";
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-createpen {
  max-width: 440px;
  padding: 15px;
  margin: 0 auto;
}

.error{
    color: red;
    font-weight: bold;
    padding-bottom: 5px;
}